my_env
.env
.astro
.dockerignore
dags
plugins
tests
config/__pycache__
config/config.py
include
estate.log
airflow_settings.yaml
packages.txt
datasets/source_crm
datasets/source_erp
tests_c/donnees_imo.py
scripts/ETL/__pycache__
config.ini
.vscode
tests_c/SELECT * FROM bronze.pgsql
tests_c/all_query.sql
scripts/__pycache__
scripts/__pycache__
scripts/ETL/__pycache__
tests_c/scripts_test.py
/home/jean/all_projects/projets_data/data-warehouse-project/estate.2025-03-14_16-11-21_494143.log
estate.2025-03-14_16-11-21_494143.log