my_env

.astro
.dockerignore
plugins
tests_c
config/__pycache__
config/config.py
include
estate.log

packages.txt
datasets/source_crm
datasets/source_erp/CUST_AZ12.csv
datasets/source_erp/LOC_A101.csv
tests_c/donnees_imo.py
scripts/ETL/__pycache__
config.ini
.vscode
tests_c/SELECT * FROM bronze.pgsql
tests_c/all_query.sql
scripts/__pycache__
scripts/__pycache__
scripts/ETL/__pycache__
tests_c/scripts_test.py
/home/jean/all_projects/projets_data/data-warehouse-project/estate.2025-03-14_16-11-21_494143.log
estate.2025-03-14_16-11-21_494143.log
tests/dags/__pycache__
tests/dags/.pytest_cache
tests/dags/test_pip.py
.pytest_cache
.vscode
dags/test_yaml.py
dags/test_etl.py
dags/run_pipeline.py
dags/pipeline.py
dags/pipeline_test.py
dags/airflow_pipeline.py
scripts/__pycache__
scripts/ETL/load_test.py
scripts/ETL/test_connexion.py
scripts/ETL/transform.py
scripts/ETL/transforme.py
tests_c
tests/dags/test_pip.py
tests/dags/.pytest_cache
tests/dags/__pycache__
__pycache__
tests/dags/.pytest_cache
airflow_settings.example.yaml
.env.exemple